[Service]
ExecStart=/usr/bin/docker run --name secubitwallet --rm -e "NODE_ENV=production" -v /root/secubitwallet/certs:/root/acme/etc -v /root/secubitwallet/config.json:/secubitwallet/config.json -v /root/secubitwallet/logs:/secubitwallet/logs -p 8081:8081 -p 80:80 -p 443:443 --net=host secubitwallet
Restart=always
